<div id="five-days-container">
  <div class="dayOfTheWeek">
    <h3>Lundi</h3>
    <i class="fas fa-3x fa-sun sun"></i>
    <p>Temp°</p>
  </div>
  <div class="dayOfTheWeek">
    <h3>Mardi</h3>
    <i class="fas fa-3x fa-sun sun"></i>
    <p>Temp°</p>
  </div>
  <div class="dayOfTheWeek">
    <h3>Mercredi</h3>
    <i class="fas fa-3x fa-sun sun"></i>
    <p>Temp°</p>
  </div>
  <div class="dayOfTheWeek">
    <h3>Jeudi</h3>
    <i class="fas fa-3x fa-sun sun"></i>
    <p>Temp°</p>
  </div>
  <div class="dayOfTheWeek">
    <h3>Vendredi</h3>
    <i class="fas fa-3x fa-sun sun"></i>
    <p>Temp°</p>
  </div>
</div>
