@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

#footerContainer {
  background: #42b883;
  color: #35495e;
}

#sectionsContainer {
  display: flex;
  justify-content: space-around;
}

#sectionsContainer .section {
  padding: calc(1rem + 1vw);
}

#sectionsContainer .section h3 {
  padding: calc(0.7rem + 0.7vw) 0;
}

#pContainer p{
  padding: calc(0.3rem + 0.3vw) 0;
}


#pContainer p a {
  text-decoration: none;
  color: #35495e;
}

#menuContainer p{
  padding: calc(0.3rem + 0.3vw) 0;
  text-align: center;
}

#menuContainer p a {
  text-decoration: none;
  color: #35495e;
}

#githubSection p{
  padding: calc(0.3rem + 0.3vw) 0;
  display: flex;
}

#githubSection a {
  text-decoration: none;
  margin-left: calc(0.5rem + 0.5vw);
  color: #35495e;
  display: block;
}

#githubSection p img {
  filter: invert(25%) sepia(14%) saturate(1503%) hue-rotate(170deg) brightness(87%) contrast(81%);
}

#pContainer img {
  display: block;
  height: 40px;
}

#notes {
  text-align: center;
  padding: calc(1rem + 1vw) 0;
}

#hardWork {
  font-family: 'Slackey', cursive;
}

@media (max-width: 1000px) {
  #sectionsContainer {
    flex-direction: column;
    align-items: center;
  }

  #sectionsContainer .section {
    width: 100%;
    text-align: center;
  }

  #githubSection p {
    display: flex;
    justify-content: center;
  }
}
