<h1>PlanCrazyApp</h1>

<form [formGroup]="signingInAppUserForm" (ngSubmit)="seConnecter()">
  <label for="email">Email : </label>
  <input id="email" type="email" formControlName="email">
  <label for="password">Mot de passe : </label>
  <input id="password" type="password" formControlName="password">
<!--  <p *ngIf="signingInAppUserForm.valid">Complete the form to enable button.</p>-->
  <button type="submit" [disabled]="!signingInAppUserForm.valid">Se connecter</button>
</form>

<a routerLink="/signup">Vous n'avez pas de compte ? S'inscrire</a>
