.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-success {
  font-family: "Berlin Sans FB", sans-serif;
  margin: 100px 10px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
}

.create {
  background-color: #90B77D;
}

.connect {
  background-color: #D2D79F;
}
