h1 {
  text-align: center;
  color: #42855B;
  size: 64px;
  text-shadow: #bbb9b9 1px 2px;
  font-family: "Berlin Sans FB", sans-serif;
}

.btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-success {
  font-family: "Berlin Sans FB", sans-serif;
  margin: 100px 10px;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
}

.create {
  background-color: #90B77D;
}

.connect {
  background-color: #D2D79F;
}
