#widget-component {
  background: #ECF0F2;
  max-width: 40rem;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px black;
}

#container {
  padding: 2rem;
}

#dateAndTemp {
  display: flex;
  justify-content: space-between;
}

#dateAndTemp p {
  color: #817B7B;
  font-size: 2rem;
}

#icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #817B7B;
}

#city {
  text-align: center;
  color: #817B7B;
  font-size: 2rem;
}
