<div id="widget-component">
  <div id="container">
  <div id="dateAndTemp">
    <p>{{dateOfToday | date:'EEEE d MMMM'}}</p>
    <p>{{weatherDataOfToday.main.temp}}°</p>
  </div>
  <div id="icons-container">
    <div *ngIf="weatherDataOfToday.weather[0].main.includes('Clear')">
    <i class="fas fa-3x fa-sun sun"></i>
    </div>
    <div *ngIf="weatherDataOfToday.weather[0].main.includes('Clouds')">
      <i class="fas fa-3x fa-cloud cloud"></i>
    </div>
    <div *ngIf="weatherDataOfToday.weather[0].main.includes('Rain')">
     <i class="fas fa-3x fa-cloud-rain rain"></i>
    </div>
    <div *ngIf="weatherDataOfToday.weather[0].main.includes('Snow')">
      <i class="fas fa-3x fa-snowflake snow"></i>
    </div>
  </div>
  <p id="city">
    {{weatherDataOfToday.name}}
  </p>
  </div>
</div>
