<div id="widget-component">
  <div id="container">
  <div id="dateAndTemp">
    <p>{{dateOfToday | date:'EEEE d MMMM'}}</p>
    <p>{{weatherData.main.temp}}°</p>
  </div>
  <div id="icons-container">
    <i *ngIf="isSunny" class="fas fa-3x fa-sun sun"></i>
    <i *ngIf="isCloudy" class="fas fa-3x fa-cloud cloud"></i>
    <i *ngIf="isRainy" class="fas fa-3x fa-cloud-rain rain"></i>
    <i *ngIf="isSnowy" class="fas fa-3x fa-snowflake snow"></i>
  </div>
  <p id="city">
    {{weatherData.name}}
  </p>
  </div>
</div>
