<h2>Détail de l'évènement</h2>

<div id="card">
  <h3>{{currentTask.title}}</h3>
  <p>Du {{currentTask.startingDate | date: "dd/MM/yyyy"}} - {{currentTask.startingHour}} au {{currentTask.endingDate  | date: "dd/MM/yyyy"}} - {{currentTask.endingHour}} </p>
  <p> Lieu : {{currentTask.location}} </p>
  <p>Propriétaire : {{currentTask.ownerEmail}}</p>
</div>

<div id="formContainer">

  <form [formGroup]="updateTaskForm">
    <label class="notes" for="description">Notes</label>
    <textarea  id="description" type="text" formControlName="description" rows="6" value="{{currentTask.description}}"></textarea><br>
  </form>

  <label>Partage : </label>

  <div *ngFor="let emailOfUserSharedWith of sharedWithEmailList">
    <app-user-task-is-shared-with email="{{emailOfUserSharedWith}}"
                                  (unshareWithThisUserEvent)="unshareWithThisUser($event)">
    </app-user-task-is-shared-with>
  </div>

  <input type="email" placeholder="addresse@mail.com" id="sharingMail" name="sharingMail" [(ngModel)]="sharingUserEmail">
  <button id="shareBtn" (click)="shareWithUser()">Partager</button>

</div>

<div id="btnContainer">
  <a class="btn-success" routerLink="/task/update/{{currentTask.taskId}}">Modifier</a>
  <a class="btn-back" routerLink="/month">Retour</a>
</div>

