h1 {
  font-family: "Berlin Sans FB", sans-serif;
  text-align: center;
  color: #42855B;
  size: 32px;
  text-shadow: #bbb9b9 1px 2px;
}

.date {
  text-align: center;
  font-family: "Berlin Sans FB", sans-serif;
  font-weight: bold;
}

li{
  list-style-type: none;
}

.btn {
  text-align: center;
}

.btn-success {
  background-color: #90B77D;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 10px 10px;
  border: none;
}
