<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <p class="annotation">Champ obligatoire</p>
  <input id="nickname" type="text" formControlName="nickname" placeholder="Entrer son pseudo"><br>

  <p *ngIf="nicknameIsInvalid()" class="alert-danger">Pseudo déjà utilisé.</p>
  <input id="firstName" type="text" formControlName="firstName" placeholder="Entrer son prénom"><br>
  <input id="lastName" type="text" formControlName="lastName" placeholder="Entrer son nom"><br>
  <input id="address" type="text" formControlName="address" placeholder="Entrer son adresse"><br>
  <input id="postcode" type="text" formControlName="postcode" placeholder="Code postal"><br>
  <p *ngIf="postcodeIsInvalid()" class="alert-danger">Rentrez un code postal valide à 5 chiffres.</p>
  <input id="city" type="text" formControlName="city" placeholder="Ville"><br>
  <p class="annotation">Champ obligatoire</p>
  <input id="phoneNumber" type="text" formControlName="phoneNumber" placeholder="Entrer son numéro de téléphone">
  <p *ngIf="phoneNumberIsInvalid()" class="alert-danger">Rentrez un numéro de téléphone valide à 10 chiffres.</p><br>
  <p class="annotation">Champ obligatoire</p>
  <input id="email" type="email" formControlName="email" placeholder="Entrer son email (ex: name@example.com)" email="true"><br>
  <p *ngIf="emailIsInvalid()" class="alert-danger">Veuillez renseigner un email valide.</p>
  <p class="annotation">Champ obligatoire</p>
  <input id="password" type="text" formControlName="password" placeholder="Entrer son mot de passe (au moins 8 caractères) "><br>
  <p *ngIf="passwordlenghtIsInvalid()" class="alert-danger">8 caractères minimum dont 1 chiffre, 1 majuscule, 1 minuscule, 1 caractère spécial.</p>
  <input id="passwordConfirm" type="text" formControlName="passwordConfirm" placeholder="Confirmer son mot de passe"><br>
  <p *ngIf="passwordIsInvalid()" class="alert-danger">Le mot de passe ne correspond pas.</p>

  <button type="submit"
          class="btn-success"
          [disabled]="!signupForm.valid">Créer son compte</button>
</form>

<div class="seConnecter">
<p>Vous avez déjà un compte ? </p>
<a routerLink="/signin">Se connecter</a>
</div>
