<div id="updateContainer">

  <h2>Modifier évènement</h2>

  <form [formGroup]="updateTaskForm" (ngSubmit)="onSubmit()">
    <input id="title" type="text" formControlName="title" placeholder="Titre" [(ngModel)]="currentTask.taskTitle"><br>
    <input id="location" type="text" formControlName="location" placeholder="Lieu ou appel vidéo"[(ngModel)]="currentTask.location"><br>
    <input id="startingDate" type="date" formControlName="startingDate" placeholder="Date de début" [(ngModel)]="currentTask.startingDate"><br>
    <input id="endingDate" type="date" formControlName="endingDate" placeholder="Date de fin" [(ngModel)]="currentTask.endingDate"><br>
    <input id="startingHour" type="time" formControlName="startingHour" placeholder="Heure de début"[(ngModel)]="currentTask.startingHour"><br>
    <input id="endingHour" type="time" formControlName="endingHour" placeholder="Heure de fin" [(ngModel)]="currentTask.endingHour"><br>
    <label class="notes" for="description">Notes</label>
    <textarea  id="description" type="text" formControlName="description" rows="6" [(ngModel)]="currentTask.description"></textarea><br>

    <button type="submit"
            class="btn-success"
            [disabled]="validationProblem()">Valider</button>
  </form>

  <a routerLink="/month">Retour</a>
</div>
