h2 {
  border-style: none;
  background-color: #E3F3EC;
  text-align: center;
  margin:30px auto;
  box-shadow: 8px 8px 12px #817C7C;
  font-family: "Berlin Sans FB", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 450px;
}

input {
  height: 30px;
  width: 60%;
  border-radius: 10px;
  font-family: "Berlin Sans FB", sans-serif;
}

textarea {
  border-radius: 10px;
  font-family: "Berlin Sans FB", sans-serif;
}


.btn-success {
  background-color: #90B77D;
  border-radius: 20px;
  padding: 0 40px;
  margin:  0 10px;
  border: none;
}
